@media screen and (min-width : 1024px) {
  .Container {
    width: 1110px;
    margin: 0 39px;
  }
}

@media screen and (max-width : 1024px) and (min-width: 769px) {
  .Container {
    width: 690px;
    margin: 0 39px;
  }
}

@media screen and (max-width : 768px) and (min-width: 431px) {
  .Container {
    width: 510px;
    margin: 0 33px;
  }
}

@media screen and (max-width : 430px) {
  .Container {
    width: 290px;
    margin: 0 15px;
  }
}